
#gt-form {
    margin: 0px;
    padding: 20px 40px;
    
    .row {
        padding-top: 0;
        // padding-bottom: 5px;
    }
}

.gt-field {
    display: flex !important;
    align-items: center;
    width: 100%!important;
    
    .gt-label {
        margin: 0 12px 0 0 !important;
        width: 100px !important;
    }
    
    label.gt-label {
        text-align: right !important;
    }
    
    .gt-input {
        flex: 1 !important;
        
    }
    
    .ui.selection.dropdown {
        min-width: 126px !important;
    }
}

// change color on different themes
.monaco-shell.vs-dark {
    // color: #bbb !important;
    
    label {
        color: #bbb !important;
    }
}